.title{
	text-align: center;
}
.add{
	margin: 0 20px;
}
.w3-container{
	display: flex;
	flex-wrap: wrap;
}
.w3-input{
	margin: 5px;
	width: 270px;
}
#plus{
	margin-top: 25px;
}
.minus{
	border-radius: 20%;
}
.edit{ 
	border-radius: 20%;
}
.showul{
list-style: none;
}
.LoadText{
	display: none;
 	text-align: center;
}
.ModalEditContent{
	display: flex;
	flex-wrap: wrap;
}
.ModalBtns{
	width: 100%;
	margin: 5px;
	text-align: right;
}
.LabelForSelect{
	margin-left: 7px;
}